{% extends "base.html" %}

{% block page_content %}

<div class="page-header">
    <h1>Person Form</h1>
    <p>Enter Person name:   </p>
        <br>
            <form action="/person_update_detail" method="post">
                <input type="hidden" id="op" name="op" value="I">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup_id">Id</span>
                    <input type="text" readonly class="form-control" name="id" aria-label="Sizing example input" aria-describedby="inputGroup_idt" value={{value}}>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup_firstname">First name</span>
                    <input type="text" class="form-control" fisrt_name="fist name" aria-label="Sizing example input" aria-describedby="inputGroup_firstname">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup_lastname">Last name</span>
                    <input type="text" class="form-control" last_name="last name" aria-label="Sizing example input" aria-describedby="inputGroup_lastname">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup_status">Status</span>
                    <input type="text" class="form-control" name="status" aria-label="Sizing example input" aria-describedby="inputGroup_name">
                </div>
                <br >
                <input class="btn btn-primary" type="submit" name="form" value="Submit" />
            </form>
</div>
{% endblock %}
